.main-container {
  background: orange;
}

.start-button {
  width: 15rem;
  height: 5rem;
  background: rgb(243, 87, 87);
  color: white;
  border-radius: 20px;
}

.main {
  margin: 0 auto;
  height: 100vh;
}
